.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#55D6C2; /* Material-UI primary color */
    padding: 10px 20px;
    color: rgb(0, 40, 0);
    height:rem;
}

.navbar-left {
    flex: 1; /* Takes up the left side */
}

.title {
        font-size: 1.8rem;
        color: #FFFFFF;
        font-style: italic;
        font-weight: 700;
        line-height: 5.6rem;
        margin-left: 1rem;
    
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Spacing between icons and buttons */
}

.navBtn {
    text-transform: none; /* Keeps button text case as is */
}

.navIcons {
    font-size: 1.8rem;
    cursor: pointer;
}
